<%- include("../layouts/header") %>
<div class="container">
  <br>
  <a href ="http://localhost:3000/">
    <button class="button1 buttonstyle2">< ย้อนกลับ</button>
  </a>

  <div class="same-level">
    <form action="/getCpu" >
      <input type="submit" class="button2 buttonstyle1" value="No Sort" />
    </form>

    <form action="/getAsc">
      <input type="submit"  class="button2 buttonstyle1" value="Ascending" />
    </form>

    <form action="/getDesc" >
      <input type="submit" class="button2 buttonstyle1" value="Descending" />
    </form>
  </div>
  <br>  

  <!--ส่วนแสดงตาราง (แสดงrecord ในดาต้าเบส)-->
  <div class="table-responsive">
    <table class="table">
      <thead class="table-danger">
        <tr>
          <th>ID</th>
          <th>TIME-CPU</th>
          <th>CORE-CPU</th>
          <!-- <th>Action</th> -->
        </tr>
      </thead>
      <!--หัวตาราง-->
        <% if (data) { %> <% data.forEach(function(a){ %>
        <tr>
          <td ><%= a.id %></td>
          <td ><%= a.time_cpu %></td>
          <td ><%= a.core_cpu %></td>
             <td>
            <div style="float:left">
                <a href='/edit/<%= a.id %>'>Edit</a> &nbsp;							
                <form method="post" action="/deleteCpu/<%= a.id %>" style="float:right">
                  <input type="submit" name="post" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
                  <input type="hidden" name="_method" value="DELETE" />
                </form>
              </div> 
            </td>
          </tr>
          <% }) %> <% } %>
        <!--Record ตาราง-->
      </table>
    </div>
  </table>
</div>
<%- include("../layouts/footer") %>
